@page "/About"

using <OAbout/>
<br/>
<br/>
<a href="https://github.com/omuleanu/BlazorAwesome">Github Page</a>
<br />
<a href="https://www.aspnetawesome.com">aspnetawesome.com</a>

<br/>
<br/>
Download this demo here: <a href="https://www.aspnetawesome.com/Download/BlazorWasmAweDemo">Blazor Wasm Demo</a>