@page "/"
<HomeEditors/>

<h2>Grid filter row </h2>
<GridFilterRow/>

<h2>Grid inline editing </h2>
<GridInlineEditDemo />

<h2>Grid in nest editing </h2>
<GridNestCrud />

<DragDropAB />
<DragDropGroups />